<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">User</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">New Company</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>UserId</b>
    </div>
  </div>

</div>


<form action="/add" method="POST">

  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName">Company Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="Wakhla"
        required>
    </div>

    <div class="col">
      <label for="lastName">Email</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="info@example.com" required>
    </div>
    <div class="col">
      <label for="firstName">Mobile</label>
      <input type="number" class="form-control" id="firstName" name="firstName" value="" placeholder="+92 32989283"
        required>
    </div>
  </div>
  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName">Landline</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="" placeholder="First Name"
        required>
    </div>

    <div class="col">
      <label for="lastName">Website</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="www.example.com" required>
    </div>
    <div class="col">
      <label for="lastName">Registration No</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="" placeholder="no.09394" required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="tel">Average Transaction</label>
      <input type="text" class="form-control" id="tel" name="tel" value="" placeholder="In Rs" required>
    </div>
    <div class="col">
      <label for="tel">Monthly Transaction</label>
      <input type="text" class="form-control" id="tel" name="tel" value="" placeholder="In Rs" required>
    </div>
    <div class="col">
      <label for="categorySelect" id="role">Payments:</label>
      <select class="form-control" id="categorySelect">
        <option value="1">Easy Paisa</option>
        <option value="2">JazzCash</option>
        <option value="3">HBL</option>
        <option value="3">U-BANK</option>
        <option value="3">U-BANK</option>
      </select>
    </div>
  </div>
  <div class="col">
    <label for="categorySelect" id="role">Upload Logo</label>
    <input type="file" id="myFile" name="filename">
  </div>
  <div class="form-group mb-4">
    <div class="col">
    <button type="submit" class="btn btn-primary">Add Company</button>
    </div>
  </div>



</form>